.head1 {
  background-color: white;
}

.head2 {
  height: 450px;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://media.istockphoto.com/photos/water-pouring-into-glass-on-table-outdoors-picture-id1325918711?k=20&m=1325918711&s=612x612&w=0&h=hpoJPqBEh7XZEIWgY0CDgP_8HFKumeXOxdgj_KIWE2g=");
  /* url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg"); */
  background-size: cover;
}

.head2text {
  margin-top: 100px;
}

.headerSearch {
  margin-top: 50px;
  position: absolute;
  bottom: -70px;
  left: 0px;
  right: 0px;
}

.walletlink {
  text-decoration: none;
  color: black;
}

.cartbox {
  position: relative;
}

.cartnumber {
  position: absolute;
  padding-bottom: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  right: 118px;
  top: -7px;
}
